@use './variables' as variables;
@use './mixins' as mixins;
body {
	font-family: variables.$font-main;
	margin: 0;
	padding: 0;
	background-color: variables.$color-bg;
	color: variables.$color-text;
}

header {
	background-color: variables.$color-primary;
	color: variables.$color-white;
	padding: 5px;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

header img {
	height: 80px;
}

header .header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

header a.btn {
	margin-left: auto;
	background-color: variables.$color-accent;
	color: variables.$color-white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	justify-content: end;
}

nav {
	background-color: variables.$color-footer;
	padding: 10px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 15px;
}

nav a {
	color: variables.$color-white;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
}

main {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	background-color: variables.$color-primary;
	color: variables.$color-white;
	padding: variables.$spacing;
	@include mixins.flex-center;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: variables.$spacing;
}

footer {
	background-color: variables.$color-footer;
	color: variables.$color-white;
	text-align: center;
	padding: 0.5rem;
	position: fixed;
	bottom: 0;
	width: 100%;
}
