@use './variables' as variables;
@use './mixins' as mixins;
.page--login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}

.login-container {
	background: variables.$color-white;
	border-radius: variables.$border-radius;
	box-shadow: 0 2px 12px rgba(variables.$color-text, 0.12);
	padding: 2rem;
	max-width: 350px;
	width: 100%;
	text-align: center;
}

.page--dashboard {
	padding: 2rem;
}
